// Omar El Tokhy 1300207, adding code to welcome pages css file

.swiper-pagination-bullet-active {
    background-attachment: white;
}

.bg-image {
    background-image: url(C:\Users\janem\Desktop\Taustat/tuvu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.padding {
    padding-bottom: 100px;
}