<!-- Starting to add sliders, Omar El Tokhy 1300207 -->

<ion-slides pager>
   <ion-slide style="background-color: #f14741">
   <ion-icon ios="ios-globe" md="md-globe" style="zoom:5.0;"></ion-icon>
   <h1 style="color: #ebebeb">Howdy, looking for any place?</h1>
   <p style="font-family:open-sans; font-size:14px; color:#ebebeb">Find Near Me helps on
  your <b>own</b> terms, <i>anywhere in the world!</i>!</p>
   </ion-slide>

     <ion-slide style="background-color: #f1df41">
     <ion-icon ios="ios-globe" md="md-globe" style="zoom:5.0;"></ion-icon>
     <h1 style="color: #ebebeb">Howdy, looking for any place?</h1>
     <p style="font-family:open-sans; font-size:14px; color:#ebebeb">Find Near Me helps on
    your <b>own</b> terms, <i>anywhere in the world!</i>!</p>
     </ion-slide>

       <ion-slide style="background-color: #41f184">
       <ion-icon ios="ios-globe" md="md-globe" style="zoom:5.0;"></ion-icon>
       <h1 style="color: #ebebeb">Howdy, looking for any place?</h1>
       <p style="font-family:open-sans; font-size:14px; color:#ebebeb">Find Near Me helps on
      your <b>own</b> terms, <i>anywhere in the world!</i>!</p>
       </ion-slide>

 <ion-slide class="bg-image">
  <h1 style="color:#ebebeb">Hello</h1>
  <h4 style="color:#ebebeb">Welcome Welcome</h4>
  <h2 class="padding" style="font-family:open-sans; font-size:14px; color:#ebebeb">To This Amazing App</h2>
 </ion-slide>
 <div style="position:absolute; bottom: 120px; text-align:center; z-index:1000; width:100%">
  <button ion-button color="myWhite" round outLine [navPush]="nextPage">Wooohooo!</button>
</div>
</ion-slide>
</ion-slides>
    